<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- CSS ~/Public/lib -->
     <link rel="stylesheet" href="~/Public/Asset/css/reset.css">
     <link rel="stylesheet" href="~/Public/Asset/css/global.css">
     <link rel="stylesheet" href="~/Public/Asset/css/header.css">
     <link rel="stylesheet" href="~/Public/Asset/css/footer.css">
     <!-- Font-Awesome ~/Public/lib -->
     <link rel="stylesheet" href="~/Public/lib/Fontawesome/css/all.css">
     <!-- Owl Carousel -->
     <link rel="stylesheet" href="~/Public/lib/owlcarousel/~/Public/Assets/owl.carousel.css">
     <link rel="stylesheet" href="~/Public/lib/owlcarousel/~/Public/Assets/owl.theme.default.css">
     <!-- <link rel="stylesheet" href="~/Public/lib/jQuery/jquery 3.5.0.js"> -->
     <link rel="stylesheet" href="~/Public/lib/owlcarousel/owl.carousel.js">
     <!-- Font Google -->
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
     <!-- Bootstrap CSS + JS-->
     <link rel="stylesheet" href="~/Public/lib/bootstrap-4.5.0-dist/css/bootstrap.css">
     <script src="~/Public/lib/bootstrap-4.5.0-dist/js/jquery 3.5.0.js"></script>
     <script src="~/Public/lib/bootstrap-4.5.0-dist/js/popper.min.js"></script>
     <script src="~/Public/lib/bootstrap-4.5.0-dist/js/bootstrap.js"></script>
     <!-- jQuery -->
     <script src="~/Public/Asset/js/style.js"></script>
     <script src="~/Public/Asset/js/blog.js"></script>
     <title>MTAhub</title>
</head>

<body>
     <div id="wrapper">
          <!-- HEADER -->
          <div id="header">
               <div id="login-header">
                    <div class="" id="wp-menu-header">
                         <div class="" id="menu-header">
                              <div class="container">
                                   <div class="row">
                                        <div class="col-md-12">
                                             <nav class="navbar navbar-light navbar-expand-xl">
                                                  <a href="index.html" class="navbar-brand">
                                                       <img src="~/Public/Asset/img/logo.png" alt="">
                                                  </a>
                                                  <button class="navbar-toggler" data-toggle="collapse" data-target="#main-nav">
                                                       <span class="navbar-toggler-icon"></span>
                                                  </button>
                                                  <div class="collapse navbar-collapse" id="main-nav">
                                                       <ul class="navbar-nav mr-auto">
                                                            <li class="nav-item">
                                                                 <a href="@Url.Action("MTAhub_Story","Home")" class="nav-link">Câu chuyện MTAhub</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                 <a href="@Url.Action("Quizz","Home")" class="nav-link">Quizz vui</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                 <a href="@Url.Action("Blog","Home")" class="nav-link">Blog</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                 <a href="" class="nav-link">Liên hệ</a>
                                                            </li>
                                                       </ul>
                                                  </div>
                                             </nav>
                                        </div>
                                   </div>
                              </div>

                         </div>
                    </div>
                    <div class="login-content">
                         <h2 class="text-uppercase text-center">
                              Hẹn hò online nghiêm túc<br>miễn phí đăng ký, trò chuyện dễ dàng
                         </h2>
                         <div class="container">
                              <div class="row">
                                   <div class="col-md-12">
                                        <div class="row">
                                             <div class="col-md-4">
                                                  <button class="login-btn d-flex" id="login-by-fb">
                                                       <div class="icon-bg fb-icon">
                                                            <img src="~/Public/Asset/img/Facebook-white.png" alt="">
                                                       </div>
                                                       <div class="text-left txt-login">
                                                            <span>Đăng nhập bằng Facebook</span>
                                                       </div>
                                                  </button>
                                             </div>
                                             <div class="col-md-4 ">
                                                  <button class="login-btn d-flex" id="login-by-google">
                                                       <div class=" icon-bg google-icon">
                                                            <img src="~/Public/Asset/img/Google.png " alt=" ">
                                                       </div>
                                                       <div class="text-left txt-login ">
                                                            <span>Đăng nhập bằng Google</span>
                                                       </div>
                                                  </button>
                                             </div>
                                             <div class="col-md-4 ">
                                                  <a href="login.html">
                                                       <button class="login-btn d-flex " id="login-by-me">
                                                            <div class="icon-bg">
                                                                 <img src="~/Public/Asset/img/phone.png" alt="" class="img-fluid">
                                                            </div>
                                                            <div class="text-left txt-login text-info">
                                                                 <span>Đăng nhập bằng MTAhub</span>
                                                            </div>
                                                       </button>
                                                  </a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="down-here text-center">
                              <i class="fas fa-angle-double-down"></i>
                              <!-- <i class="fas fa-long-arrow-alt-down"></i> -->
                         </div>
                    </div>

               </div>
          </div>
          @RenderBody()
          <!-- FOOTER -->
          <div id="wp-footer">
               <div class="authentic-logo text-center">
                    <a href="">
                         <img src="~/Public/Asset/img/dathongbao.png" alt="">
                    </a>
               </div>
               <div class="container menu-footer">
                    <ul class="list-unstyled">
                         <li>
                              <a href="">Điều khoàn sử dụng</a>
                         </li>
                         <li>
                              <a href="">Bảo mật</a>
                         </li>
                         <li>
                              <a href="">Trợ giúp</a>
                         </li>
                         <li>
                              <a href="">Liên hệ</a>
                         </li>
                         <li>
                              <a href="">Blog</a>
                         </li>
                    </ul>
                    <p>Developed by Bình + Hoàng CNTT1</p>
               </div>
               @RenderSection("Chat_CSKH", required: false)
          </div>

          <!-- END HEADER -->
          <!-- CONTENT -->

     </div>
     @RenderSection("back_top", required: false)
</body>

</html>