
@{
    Layout = null;
    ViewBag.Title = "shop";
    var info_product = ViewBag.info_product;
   //  ViewBag.Tittle = "shop";
  
}

<!DOCTYPE html>

<html>

@Html.Partial("head")

<link rel="stylesheet" href="~/Public/Asset/css/payment.css">
<link rel="stylesheet" href="~/Public/Asset/css/shop.css">
<body>
    <div id="wrapper">
        <div id="tittle-trade" class="d-flex py-3">
            <a href="/Cart/buy_coin">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h3>Chi tiết sản phẩm</h3>
        </div>
        <div  class="mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4" id="product-thumbnail">
                                <img src="~/Public/Asset/img/shop/@info_product.image_link" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <h3 id="product-name">@info_product.name</h3>
                                <h6 class="text-bold">Mã sản phẩm: <span id="product-code">@info_product.code</span></h6>
                                <h6>Giá sản phẩm: <span id="product-price">@info_product.price  đ</span></h6>
                                <div class="pro_description">


                                </div>
                                <div id="buy-product" class="d-flex mt-4">
                                    <form method="post" action="/Cart/add_mul_product/@info_product.id_product">
                                        <input type="number" name="num_order" min=1 max=100 value="1" class="text-center">
                                        
                                            <button class="btn btn-danger ml-3" name="command" value="buy_now">Mua ngay</button>
                                        
                                       
                                            <button class="btn btn-danger ml-3" name="command" value="add_product">Thêm vào giỏ hàng</button>
                                        
                                    </form>
                                    
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-12 detail-prd">
                        <div class="border-bottom mt-5">
                            <h4 class="detail-item mb-0">Chi tiết sản phẩm</h4>
                        </div>
                        <div class="pro_content">

                        </div>
                        <div class="text-center">
                            <img src="~/Public/Asset/img/shop/@info_product.image_link" alt="">
                            <h3>Hãy mua ngay!!!</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <script>
        $(document).ready(function () {
              var content = '@info_product.content';
            var decodedText = $(".pro_content").html(content).text();
            $(".pro_content").html(decodedText);
            var description = '@info_product.description';
            var decodedText2 = $(".pro_description").html(content).text();
            $(".pro_description").html(decodedText2);

         });
    </script>
    @*<h1 class="text-center mb-5">Chi tiết sản phẩm</h1>
        <div id="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4" id="product-thumbnail">
                                <img src="~/Public/Asset/img/shop/@info_product.image_link" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <h3 id="product-name">@info_product.name</h3>
                                <h6 class="text-bold">Mã sản phẩm: <span id="product-code">@info_product.code</span></h6>
                                <h6>Giá sản phẩm: <span id="product-price">@info_product.price  Xu</span></h6>
                                <div class="pro_description">


                                </div>
                                <div id="buy-product" class="d-flex mt-4">
                                    <form>
                                        <input type="number" name="num-order" min=1 max=100 value="1" class="text-center">
                                    </form>
                                    <a href="">
                                        <button class="btn btn-danger ml-3">Mua ngay</button>
                                    </a>
                                    <a href="">
                                        <button class="btn btn-danger ml-3">Thêm vào giỏ hàng</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 detail-prd">
                        <div class="border-bottom mt-5">
                            <h4 class="detail-item mb-0">Chi tiết sản phẩm</h4>
                        </div>
                        <div class="pro_content">

                        </div>
                        <div class="text-center">
                            <img src="~/Public/Asset/img/shop/@info_product.image_link" alt="">
                            <h3>Hãy mua ngay!!!</h3>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <script>
        $(document).ready(function () {
              var content = '@info_product.content';
            var decodedText = $(".pro_content").html(content).text();
            $(".pro_content").html(decodedText);
            var description = '@info_product.description';
            var decodedText2 = $(".pro_description").html(content).text();
            $(".pro_description").html(decodedText2);

         });
        </script>*@
</body>

</html>

