
@{
     Layout = null;
     var id_chat = ViewBag.id_chat;
     var stt = ViewBag.stt_id_chat;
     var NickName_other = ViewBag.NickName_other;
     var id_user = ViewBag.UserID;
}

<!DOCTYPE html>

<html>
@Html.Partial("head")
<link rel="stylesheet" href="~/Public/Asset/css/chat-group.css">
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
@*<script src="~/Public/Asset/js/chat_group.js"></script>*@
<body>

     <div id="wrapper">
          <div class="header">
               <a href="/Profile/Index/@id_user">
                    <i class="fas fa-chevron-left"></i>
               </a>
               <h3>Chat cùng: <strong>@NickName_other</strong></h3>
          </div>
          <div class="chat-panel">
               <ul id="contentMsg_@stt" class="msg_chatbox">
                    @foreach (var a in ViewBag.list_chat)
                    {
                         <li><strong>@a.NickName</strong>: @a.msg</li>

                    }
               </ul>
          </div>
          <div class="chat-send d-flex">
               <input type="text" id="txtMessage" placeholder="Nhập tin nhắn" />
               <button class="btn btn-success p-3" id="btnSend">Send</button>
               <input type="hidden" id="hName" value="@ViewBag.Name" />
               <input type="hidden" id="hUserID" value="@ViewBag.UserID" />
          </div>
          <div class="footer">
               Developed by Bình + Hoàng CNTT1
          </div>
     </div>
     <script>
          var con_ID = "";          
          $(document).ready(function () {
               //scroll down
               var height = $('#contentMsg_@stt').get(0).scrollHeight;
               $('#contentMsg_@stt').animate({scrollTop:height});

               var name = $('#hName').val();
               var UserID = $('#hUserID').val();
               var chatHub = $.connection.chat;
              
               loadClient(chatHub);
               
     //start connect hub
               $.connection.hub.start().done(function () {

               chatHub.server.connect(name);
               
              $.ajax({
                         type: "POST",
                         data: { UserID: UserID, con_ID: $.connection.hub.id },
                         url: '@Url.Action("Update_ConID","Profile")',
                         dataType: "json",
                         success: function (data) {
                              
                         }
                    });
                
               $('#txtMessage').bind("enterKey", function (e) {

                    //do stuff here
                    //scroll down
                    var height = $('#contentMsg_@stt').get(0).scrollHeight;
                    $('#contentMsg_@stt').animate({ scrollTop: height });

                    var msg = $('#txtMessage').val();
                    $.ajax({
                         type: "POST",
                         data: { chat_id: '@id_chat' },
                         url: '@Url.Action("Get_ConID","Profile")',
                         dataType: "json",
                         success: function (data) {                             
                              setCon_Id(data);
                              $('#contentMsg_@stt').append("<li><strong>" + name + "</strong>: " + msg + "  </li>");
                           
                              chatHub.server.message(name, msg, data,'@stt',UserID);
                         }
                    });
                   

                    //$('#contentMsg_@stt>li:last-child')
                    $('#txtMessage').val('').focus();
                    $.ajax({
                         type: "POST",
                         data: { from_id_user: UserID, stt: '@stt', msg: msg },
                         url: '@Url.Action("History_Chat_Private","Profile")',
                         dataType: "json",
                         success: function (data) {
                              //alert(data);
                         }
                    });
               });
               $('#txtMessage').keyup(function(e){
                   if(e.keyCode == 13)
                   {
                       $(this).trigger("enterKey");
                   }
               });

               $('#btnSend').click(function () {

                    //scroll down
                    var height = $('#contentMsg_@stt').get(0).scrollHeight;
                    $('#contentMsg_@stt').animate({ scrollTop: height });

                    var msg = $('#txtMessage').val();

                    chatHub.server.message(name, msg);
                    //$('#contentMsg_@stt>li:last-child')
                    $('#txtMessage').val('').focus();


                    $.ajax({
                         type: "POST",
                         data: { UserID: UserID, msg: msg },
                         url: '@Url.Action("History_Chat","Profile")',
                         dataType: "json",
                         success: function (data) {
                              //alert(data);
                         }
                    });
               });

               });
          });
          function loadClient(chatHub) {

               chatHub.client.message = function (name, msg, stt) {                                                        
                    $('#contentMsg_'+stt).append("<li><strong>" + name + "</strong>: " + msg + "  </li>");                   
               }

     chatHub.client.connect = function (name) {
          $('#hName').val(name);
     }
          }
          function setCon_Id(data) {
               con_ID = data;
          }          
     </script>
</body>
</html>
