@model List<BTLWebHenHo.Models.Profile_User>
@{
     Layout = null;
     int i = 0;
     var age = 0;
}


<table class="table table-striped table-hover">
     <thead>
          <tr>
               <th>STT</th>
               <th>ID</th>
               <th>Họ tên</th>
               <th>Tuổi</th>
               <th>Địa chỉ</th>
          </tr>
     </thead>
     <tbody>
          @foreach (var item in Model)
          {
               i++;
               if (item.birthday != null)
               {
                    string[] spl = item.birthday.Split('-');
                    age = DateTime.Now.Year - Convert.ToInt32(spl[0]);                  
               }
               <tr>
                    <td>@i</td>
                    <td>@item.UserID</td>
                    <td class="table-success">@item.NickName</td>
                    <td>@age</td>
                    <td>@item.address_user</td>

               </tr>
          }


     </tbody>
</table>
